extends layout

block content
  h1= title
  p Welcome back to #{title} modifed by Dileep Sumanth Yarajala

  - results = [{ eraser: "Jumbo", size: "large", cost: 300 },{ eraser: "Medium", size: "med", cost: 200 },{ eraser: "Jumbo", size: "Small", cost: 100 }];
  div.container-fluid 
    -
    div.row 
    -
    each item, index in results
        div.col-sm-6
            h2= item.eraser
            p= item.eraser_size 
            p= "cost: $"+item.cost.toFixed(2)
            div.row
                each prop, i in Object.keys(item)
                    div(col-sm-2,  onclick=`buy(${index})`)
                        p #{Object.keys(item)[i]}: #{item[prop]}
    script.
        function buy (index){
            alert (`You purchased item ${index+1}`)    
        }
        